#frontdesk-widget-root {
  --mobile-margin-top: 0px !important;
  --mobile-margin-right: 20px !important;
  --mobile-margin-bottom: 20px !important;
  --mobile-margin-left: 20px !important;
}

#frontdesk-widget-root .frontdesk-widget-container {
  position: fixed !important;
  bottom: 100px !important;
  right: 20px !important;
  z-index: 1000 !important;
}

#frontdesk-widget-root .frontdesk-launcher {
  margin: 0 !important;
  padding: 0 !important;
}

#frontdesk-widget-root .frontdesk-launcher__button {
  width: 56px !important;
  height: 56px !important;
  border-radius: 50% !important;
}